<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap css link  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <!-- css link -->
    <link rel="stylesheet" href="css/style.css">
    <!-- fontawesome link -->
    <script src="https://kit.fontawesome.com/34ba7cedd4.js" crossorigin="anonymous"></script>
    <!-- vuejs 2 link -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>ToDoList</title>
</head>
<body>
    <div id="app">
        <div class="container py-5 min-vh-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-md-6">

                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title text-center text-danger">My routine with Vue</h2>
                            <h5 class="text-center text-success fst-italic py-2">Every day I will use this list to try to respect my routine, and every time I complete a task I will select it on my list</h5>
                            
                            <div class="text-center">
                            
                                <ul>
                                    <li class="py-2" v-for="(task,i) in toDoList">
                                        <div class="form-check form-switch d-flex justify-content-start">
                                            <input class="form-check-input" v-model="task.done" type="checkbox" role="switch" :id="'flexSwitchCheckDefault' + i">
                                            <label class="form-check-label" :class="task.title" class="text-decoration-line-through" :for="'flexSwitchCheckDefault' + i">{{toDoList[i].text}}</label>
                                            <div class="d-flex justify-content-center" @click="editTask(i)"><span><i class="fa-solid fa-pen"></i></span></div>
                                            <div class="d-flex justify-content-center" @click="deleteTask(i)"><span><i class="fa-solid fa-trash"></i></span></div>
                                        </div>
                                        
                                        
                                        
                                    </li>
                                </ul>
                            
                            </div>

                            <!-- input -->
                            <div class="container d-flex justify-content-center">
                                <input v-model="newTask" type="text" placeholder="Enter Task" class="form-control">
                                <button class="btn btn-primary" v-on:click="submit">Submit</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/main.js"></script>
</body>
</html>